* {
    font-family: 'Lexend Deca';
    
}

.fix-size {
    min-height: 25vh;
}

body {
    background: linear-gradient(to bottom, #f1f6f9, #c9d6ff);
    height: 100%;
}
ul {
    list-style: none;
}

.h-inherit {
    min-height: inherit;
}

.h-full {
    min-height: inherit;
}

.mt-auto {
    margin-top: auto;
}

.active {
    opacity: 1!important;
    animation-name: fade-in;
    transition: 0.4s;
}

.notActive {
    opacity: 0;
    transition: 0.4s;
}
.middle {
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
}

.toDoList {
    width: 32rem;
    height: 24rem;
    display: flex;
    border-radius: 0.35rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.addToDo {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-left: 0.4rem;
    margin-bottom: 0.48rem;
    margin-right: 0.48rem;
    padding: 1vw;
    justify-content: space-between;
}

.addToDo input {
    width: 12vw;
    border: 2px solid black;
    border-radius: 1vh;
}

.air-conditioner {
    display: flex;
    margin: 1.5%;
    padding: 3.2%;
    width: 50vw;
    justify-content: space-evenly;
    border-radius: 1vw;
}

.toggle-switch {
    display: inline-block;
    position: relative;
    width: 57.5px;
    height: 28px;
  }
  
  .toggle-input {
    display: none;
  }
  .toggle-input2 {
    display: none;
  }
  .toggle-label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .toggle-input2:checked + .toggle-label {
    background-color: #d0f321;
  }  
  
  .toggle-input:checked + .toggle-label {
    background-color: #21f34b;
  }
  
  .toggle-label::before {
    content: '';
    position: absolute;
    width: 21.2px;
    height: 21.2px;
    border-radius: 50%;
    background-color: #fff;
    top: 4px;
    left: 4px;
    transition: transform 0.3s ease;
  }
  
  .toggle-input:checked + .toggle-label::before {
    transform: translateX(26px);
  }

  .toggle-input2:checked + .toggle-label::before {
    transform: translateX(26px);
  }

.air-conditioner > div > button {
    width: 2.5rem;
    margin-top:auto;
    margin-bottom: auto;
    height: 2.5rem;
    background-color: transparent;
    border-radius: 0.6rem;
}

.switch {
    width: 8rem;
    border-radius: 1rem;
    height: 16vh;
}

.line {
    width: 50vw;
    height: 1.2px;
    background-color: #4a4a4a;
}

.logs {
    display: flex;
    overflow: auto;
    flex-direction: column;
    height:76vh;
    margin: auto;
    background-color: white;
    width: 64vw;
    border-radius: 0.4rem;
}

.logs h5 {
    margin: 0.75rem;
}

.switches {
    width: 36vw;
    padding: 20px;
    border-radius: 2vw;
    height: auto;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.iconAsImage {
    scale: 3;
    margin-top: 10%;
}

.middle img {
    border-radius: 16px;
    max-width: 30%;
}

.text-dark:hover {
    color: #4a4a4a!important;
}

.fade-in-35 {
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
}

.fade-in-65 {
    animation-duration: 650ms;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        margin-bottom: 10%;
    } 100% {
        opacity: 1;
        margin-bottom: 0%;
    }
}