* {
    font-family: 'Lexend Deca';
    
}

body {
    background: linear-gradient(to bottom, #f1f6f9, #c9d6ff);
    height: 100%;
}
ul {
    list-style: none;
}

.active {
    opacity: 1!important;
    animation-name: fade-in;
    transition: 0.4s;
}

.notActive {
    opacity: 0;
    transition: 0.4s;
}
.middle {
    display: flex;
    height: 80vh;
    width: 100%;
    align-items: center;
}

.toDoList {
    width: 32rem;
    height: 24rem;
    display: flex;
    border-radius: 0.35rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.addToDo {
    margin-top: auto;
    height: 2.5vw;
    width: 2.5vw;
    margin-bottom: 0.24rem;
    margin-right: 0.24rem;
    margin-left: auto;
}

.iconAsImage {
    scale: 3;
    margin-top: 10%;
}

.middle img {
    border-radius: 16px;
    max-width: 30%;
}

.text-dark:hover {
    color: #4a4a4a!important;
}

.fade-in-35 {
    animation-duration: 350ms;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
}

.fade-in-65 {
    animation-duration: 650ms;
    animation-fill-mode: forwards;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        margin-bottom: 10%;
    } 100% {
        opacity: 1;
        margin-bottom: 0%;
    }
}